.num-button
{
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: lightblue;
}

#numbers, #operators
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}